[Unit]
Description=AKYG dersi icin olsuturdugum api in servise cevirilmesi.
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/odev1/ilkDeneme
ExecStart=/usr/bin/gunicorn --workers 5 --bind unix:merhaba.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
